---
import ThingsICareAboutSection from "../components/HomePageSections/ThingsICareAboutSection.astro";
import ShillsListSection from "../components/HomePageSections/ShillsListSection.astro";
import ContactMeSection from "../components/HomePageSections/ContactMeSection.astro";
import FictionWritingSection from "../components/HomePageSections/FictionWritingSection.astro";
import InvisibleMessageSection from "../components/HomePageSections/InvisibleMessageSection.astro";
import { DynamicLogo } from "../components/DynamicLogo";
import { Logo } from "../components/Logo";
import SiteLayout from "../layouts/SiteLayout.astro";
---

<SiteLayout>
  <h1 class="homepage-header">Welcome to my web site!</h1>

  <DynamicLogo client:only="react" />
  <noscript><Logo /></noscript>

  <p>
    This is the home page of 💎 Tetraspace 💎, and is the place for lots of cool
    Tetraspace facts and content!
  </p>
  <ThingsICareAboutSection />
  <ShillsListSection />
  <ContactMeSection />
  <FictionWritingSection />
  <InvisibleMessageSection />
</SiteLayout>
