body {
  background-color: lavenderblush;
  color: DarkMagenta;
  font-size: larger;
  font-family: serif;
}

.main {
  padding: 0px 10px;
  margin-left: 0;
  margin-right: 0;
}

.homepage-header {
  text-align: center;
}

h1 {
  font-family: sans-serif;
}

h2 {
  font-family: sans-serif;
}

h3 {
  font-family: sans-serif;
}

.her-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200pt;
}

.secret {
  opacity: 0;
}

@media only screen and (min-width: 768px) {
  .main {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 960px) {
  .main {
    max-width: 1024px;
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media only screen and (min-width: 1280px) {
  .main {
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 960px) {
  .table {
    margin-left: -5%;
    margin-right: -5%;
  }
}

.table-nowrap-cell {
  white-space: nowrap;
}
