<h2>Things I Care About</h2>
<p>
  I am a medium-sized fan of rationalism and{" "}
  <a href="/effective-altruism">effective altruism</a>. I think at some point
  this century, the Singularity will occur, in which AIs become smarter than
  people in the non-metaphorical impossible-to-miss way that results in things
  like planets being dismantled, and that we are currently not on track for this
  to happen in a way that leaves survivors.
</p>
<p>
  The most effective way for an individual donor to give is through a{" "}
  <a href="https://www.givingwhatwecan.org/donor-lottery"> donor lottery</a>.
  Giving What We Can runs one once a year. The most important object-level
  issue, and probably where we want money to flow because money can be exchanged
  for goods and services and we want the goods and services, is{" "}
  <a href="https://nitter.net/ESYudkowsky/status/1570967796582076416">
    AI notkilleveryoneism</a
  >, and the situation for AI safety is currently looking dire;{" "}
  <strong>
    please read{" "}
    <a
      href="https://www.lesswrong.com/posts/uMQ3cqWDPHhjtiesc/agi-ruin-a-list-of-lethalities"
    >
      AGI Ruin: A List of Lethalities</a
    ></strong
  > for a view of how difficult this issue is, and how completely unprepared anyone
  is to deal with it.
</p>
<p>
  I've made a few one-page sites to help communicate concepts in effective
  altruism:
</p>
<ul>
  <li>
    <p>
      <a href="https://birth-lottery.thetetra.space/">The Birth Lottery</a> - Draw
      again from the birth lottery. Randomly selects a creature on Earth, weighted
      by population size and level of sentience, to give a view on the actual distribution
      of life on Earth - there are more farm animals than humans, more wild animals
      than farm animals, and most wild animals are tiny creatures living in the soil
      and oceans.
    </p>
  </li>
  <li>
    <p>
      <a href="https://ai-views-snapshots.tetratopia.foundation/"
        >AI Views Snapshots</a
      > - A tool for presenting views on AI risk and timelines. Based on <a
        href="https://www.lesswrong.com/posts/ZDQvYKuyH5aTrZKoY/ai-views-snapshots"
        >Rob Bensinger's template</a
      >, you can share your views by colouring in the probabilities assigned to
      statements about AI with whether you assign that probability, whether you
      think it would be reasonable for someone else to assign that probability,
      or whether you think a probability is just totally wrong.
    </p>
  </li>
</ul>
